# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.egg
.eggs/
build/
dist/
.tox/
.nox/
.coverage
.coverage.*
htmlcov/
coverage.xml
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtualenvs
.venv/
venv/
env/

# Editors
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
